    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

    :root {
        --main-color: #ced4da;
        --txt-color: #212529;
        --bg-input: #adb5bd;
    }


    html {
        font-size: 62.5%;
    }


    body {
        font-family: "Poppins", sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--main-color);
        margin: 10% 0;
    }


    .todo-container {
        width: 35rem;
        height: 60rem;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
        display: flex;
        border-radius: 4px;
        overflow: hidden;
        padding-bottom: 28px;

    }

    .todo {
        text-align: center;
        flex-direction: column;
        gap: 3rem;

        width: inherit;

    }

    .todo-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 3rem;
        background: hsla(235, 100%, 78%, 1);

        background: linear-gradient(90deg, hsla(235, 100%, 78%, 1) 0%, hsla(222, 77%, 33%, 1) 100%);
        padding-bottom: 3rem;
    }

    .todo-header .todo-title {
        display: flex;
        gap: 2rem;
        align-items: center;
        justify-content: center;
    }

    .todo .todo-header h2 {
        font-size: 2.4rem;
        color: #fff;
    }

    .todo-icon {
        height: 3.5rem;
        width: 3.5rem;
        color: #fff;
    }

    .todo .todo-header .todo-input {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .todo .todo-header .todo-input input {
        height: 4.5rem;
        width: 75%;
        padding-left: 1rem;
        border: none;
        border-bottom-left-radius: 4px;
        border-top-left-radius: 4px;
        font-size: 1.8rem;
        font-weight: 500;


    }



    .icon-background {

        height: 4.7rem;
        width: 4.4rem;
        background-color: var(--bg-input);
        cursor: pointer;
        color: hsla(222, 77%, 33%, 1);
        position: relative;
        border-bottom-right-radius: 4px;
        border-top-right-radius: 4px;
    }

    .add-list_icon {
        display: block;
        position: absolute;
        width: 4rem;
        height: 4.2rem;
        top: 2px;
        left: 3px;
        transition: all 0.2s linear;
    }


    .add-list_icon:active {
        transform: scale(1.4);
    }

    .todolist {}

    .todolist ul {
        list-style: none;
        padding: 0;
        text-align: left;
        font-size: 1.8rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 2rem;

    }

    .new-list_item {
        background-color: #fff;
        font-size: 1.8rem;
        font-weight: 500;
        width: 90%;
        padding-top: 6px;
        padding-left: 1rem;
        height: 3rem;
        cursor: pointer;
        border-radius: 4px;
    }

    .active-line_through {
        text-decoration: line-through;
    }